NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_51xxxxxxxxxxxxxx
STRIPE_SECRET_KEY=sk_test_51xxxx
NEXT_PUBLIC_SUCCESS_URL=http://www.localhost:3000
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxxgdfgafdfdasfdasfdasf
CLERK_SECRET_KEY=sk_test_fdasgfsgfdsgdgsfdg
NEXT_PUBLIC_AGENT_API_URL=https://your-ai-app
